*{
    
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

/*shard */
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
    font-size:45px;
    font-weight: 800px;
}
.spa{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    font-size: 20px;
    align-items: center;
    
}
.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    border: none;
    padding: 19px 35px;
    color: #FFF8F3;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    

}

 /*single */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

}
nav li a{
    text-decoration: none;
    color: #474747;
}
#banner{
    display: flex;
    margin: 46px 38px 0px 230px ;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;

}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    
  
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
    background-color: #FFF8F3;
    
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    
    padding: 131px 156px;

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}
